<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../vue.js"></script>
    <title>计算方法</title>
</head>
<body >
<ul id="example-1">
  <!-- <li v-for="n in evenNumbers">{{ n }}</li> -->
  <li v-for="n in even(numbers)">{{ n }}</li>
</ul>


</body>
<script>
var example1 = new Vue({
  el: '#example-1',
  data: {
    numbers: [ 1, 2, 3, 4, 5 ]
  },
  // computed: {
  //   evenNumbers: function () {
  //     return this.numbers.filter(function (number) {
  //       return number % 2 === 0
  //     })
  //   }
  // }
  methods: {
    even: function (numbers) {
      return numbers.filter(function (number) {
        return number % 2 === 0
      })
    }
  }
})
</script>
</html>